.footer {
  background: #111;
  color: $color-blanco;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 1rem;
  letter-spacing: 1px;
  border-radius: 0 0 12px 12px;
  p {
    margin: 0;
  }
}
