.btn-home, .btn-custom {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: $color-primario;
  color: $color-blanco;
  border-radius: 6px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  &:hover {
    background: $color-acento;
    color: $color-blanco;
  }
}
