$font-principal: Arial, Helvetica, sans-serif;
$color-primario: #222;
$color-secundario: #444;
$color-fondo: #f2f2f2;
$color-fondo-seccion: #f0f0f0;
$color-fondo-claro: #f7f7f7;
$color-blanco: #fff;
$color-texto-principal: #333;
$color-texto-secundario: #555;
$color-acento: #e63946;
